.header_main {
  display: flex;
  justify-content: space-between;
  width:100%;
}
.navbar-nav{
  flex-direction: row!important;
  float: right !important;
}
.footer-section{
  color:white;
  background-color: #C22731 !important;
}

@media screen and (max-width:767px){
ul.navbar-nav {
  display: flex;
  flex-direction: column !important;
  width: 100%;
}
li.nav-item {
  display: block;
  text-align: center;
}
}

.App{
  overflow: hidden !important;
}

.form {
  width: 37%;
    margin: 49px auto;
    box-shadow: 0 0 17px 0 #230c0c38;
  padding:25px;
    gap:10px;
    display: flex;
    flex-direction: column;
   
}

.form input {
  display: flex;

  border-radius: 5px;
  flex-direction: column;
  height: 27px;

  max-width: 552px;
  width: 100%;
}
button{
  width:25%;
  border-radius:5%;
}
input{
  display :block;
  margin:0,auto;
}
.form input{
  width:90%;
  border: 1px solid black;
}
h1{
  text-align: center;
}
.form_header_text{
  font-size: 20px;
  text-align:center;
}
.form_input{
  width:60%;
  margin: 49px auto;
    box-shadow: 0 0 17px 0 #230c0c38;
    border-radius:5px;
  padding:25px;
    gap:10px;
    display: flex;
    flex-direction: column;
}
.form_input{
  border-radius:15px;
}

#business{
  width:87%;
}
.form-section {
  border: 1px solid black;
  padding: 23px;
}



a.btn.btn-primary.btn-pill:hover {
  background-color: darkmagenta;
}

.enterprise-box {
  background: #fff;
  box-shadow: 0px -1px 20px #e5e5e5;
  border-radius: 20px;
  padding: 40px;
  position: relative;
  top: -80px;
}
.match-img{
  max-width: 100%;
  height: auto;
  width:80px;
}
.servicesImages {
  padding: 2em 0px;
}
.serviceCard h4 {
  font-weight: bold;
  font-size: 22px;
}
.box_text {
  font-size: 22px;
  text-align: center;
}
.resource-box h1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: var(--grey-70);
}
.resource_text{
  text-align: center;
}
h4{
  font-size: 22px;
  font-weight:bold;
}
.requestQuote{

    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)),  fixed center center;
    background-size: cover;
    padding: 80px 0;
}
.quote_text{
  text-decoration:underline;
}
